body{
    overflow-x: hidden;
}

.homepage-hero_video-container {
    position: relative;
    margin-top: 10vh;
    height: 90vh;
    width: 100vw; 
    background-color: black;
    z-index: 0;
    overflow-x: hidden;
}


.homepage-hero_video-container video{
    position: absolute;
    top:0%;
    left:0%;
    object-fit: cover;
    filter: brightness(45%);
    height: 100%;
    width: 100%;
}

.homepage-hero_svg-container{
    position: relative;
    z-index: 5;
    width:100%;
    height:100%;
    overflow: hidden;
}

.heroName{
    
    align-items: center;

}

.heroLogan{
    position: absolute;
    top: 50%;
    right: 50%;
    background-color: rgba(237, 28, 36, 0.7);
    color: white;

    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 3rem;

    padding: 8px 32px;
    
}

.heroWalker{
    position: absolute;
    top: 50%;
    left:50%;
    background-color: rgba(255, 255, 255, 0.7);;
    color: #ED1C24;

    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 3rem;

    padding: 8px 12px;
}

.homepage-hero_svg-container img{
    opacity: 0.4;
    height: 100vh;
    width: auto
}

.white-space{
    height: 5vh;
    width: 100%;
    border-top: 1.5px #ED1C24 solid;
    border-bottom: 2px #ED1C24 solid;
}

.about-section{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/tNXzllK.jpg");
    background-size: cover;
    padding: 3rem 5rem;
}

.about-logan{
    position: relative;
    background-color: rgba(237, 28, 36, 1);
    color: white;
    width: fit-content;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    padding: 3px 12px;
    z-index:10;
}

.about-walker{
    position: relative;
    width: fit-content;
    margin-left: 1rem;
    margin-top: -1rem;
    background-color: rgba(255, 255, 255, 1);
    color: #ED1C24;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.1rem;
    padding: 12px 12px;
}

.about-text{
    padding-top: 1rem;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1.2rem;
}

.sponsor-img{
    max-width: 100%;
    max-height: 30vh;
}

@media (max-width: 600px){
    .homepage-hero_svg-container img {
        opacity: 0.4;
        height: 100vw;
        width: auto
    }

    .heroLogan{
        position: absolute;
        top: 25%;
        right: 50%;

        font-size: 1.7rem;
        padding: 8px 24px;
    }

    .heroWalker{
        position: absolute;
        top: 25%;
        left: 50%;
        font-size: 1.7rem;
    }

    .about-section {
        height: 100vh;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("https://i.imgur.com/a4JKjvX.png");
        background-size: cover;
        padding: 3rem 0.2rem;
    }
}