.navbar{
    border-bottom: 2px #ED1C24 solid;
    background-color: white;
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 10vh;
    z-index: 1000;
}

.logo{
    
    margin-left: 1%;
    height:9.5vh;
    width:auto;
}

.navitem-container{
    padding-top: 0.5rem;
    margin-right: 1rem;
}

.custom-navitem{
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    color: #ED1C24;
    padding: 0rem 2rem;
}

.custom-navitem:hover{
    color: black
}